### Portfolio Project 1: Data Cleansing
* Objective: Effectively display data cleaning techniques based on guiding questions
    
* Data Set: Data Science Job Postings Glassdoor (Kaggle)
    
* Guiding Questions:
    1. Can you transform salary column to a salary range?
    2. What information can you extract from job descriptions?
    3. How can you remove the numbers from the company name?
    4. How can you create a new feature with the location column?

In [498]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

# Basic Data Cleansing
- removing duplicates
- removing unnecessary columns
- replacing index

In [499]:
df = pd.read_csv(r"C:\Data Analyst Portfolio Data Sets\DS_Jobs_dataset_unclean.csv")
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWeâ€™re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [500]:
df = df.drop_duplicates()
df = df.set_index('index')

In [501]:
columns_to_remove = ['Sector', 'Revenue', 'Competitors', 'Headquarters', 'Size', 'Founded', 'Type of ownership']

# Check if the columns exist in the DataFrame before dropping
existing_columns = df.columns.tolist()

columns_to_drop = [col for col in columns_to_remove if col in existing_columns]

if columns_to_drop:
    df = df.drop(columns=columns_to_drop)
else:
    print("Columns not found in the DataFrame:", columns_to_remove)

# Now, the specified columns (if found) are removed from df

# Transforming Salary Column from Object to Integer Column
- Transform column name (Salary Estimate to Salary Range)
- Extract unnecessary values in Salary Estimate column to read a range

In [502]:
df["Salary Estimate"] = df["Salary Estimate"].str.strip("$(Glassdoor est.)-$")

In [503]:
# Removing all characters from number ranges
df['Salary Estimate'] = df['Salary Estimate'].str.replace('[^0-9-]', '')
# Rename the column to 'Salary_Range'
df.rename(columns={'Salary Estimate': 'Salary Range'}, inplace=True)

C:\Users\laqui\AppData\Local\Temp\ipykernel_16960\891199785.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate'] = df['Salary Estimate'].str.replace('[^0-9-]', '')

In [504]:
#df['Salary Range'] = df['Salary Range'].apply(lambda x: str(x))
#df['Salary Range'] = df['Salary Range'].apply(lambda x: x[0:3] + x[3:8])
df

,Job Title,Salary Range,Job Description,Rating,Company Name,Location,Industry
index,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",Insurance Carriers
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA",Research & Development
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",Consulting
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA",Electrical & Electronic Manufacturing
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",Advertising & Marketing
...,...,...,...,...,...,...,...
667,Data Scientist,105-167,Summary\n\nWeâ€™re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ",Advertising & Marketing
668,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1
669,Data Scientist,105-167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA",Advertising & Marketing
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY",Wholesale

# Replacing/Removing Values
* Objectives:
    - replace -1 values with NaN
    - remove NaN values from dataframe
    - remove numbers and symbols from Company Name column

In [505]:
# Step 1: Replace "-1" values with NaN
df.replace(-1, np.nan, inplace=True)

# Step 2: Remove rows with NaN values
df.dropna(inplace=True)

In [506]:
# Split the values on '\n' and select the first part (the company name)
df['Company Name'] = df['Company Name'].str.split('\n').str[0]
df

,Job Title,Salary Range,Job Description,Rating,Company Name,Location,Industry
index,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",Insurance Carriers
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",Research & Development
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",Consulting
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",Electrical & Electronic Manufacturing
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",Advertising & Marketing
...,...,...,...,...,...,...,...
665,Data Scientist,105-167,Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc.","Vienna, VA",IT Services
666,Data Scientist,105-167,About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine,"Boston, MA",Biotech & Pharmaceuticals
667,Data Scientist,105-167,Summary\n\nWeâ€™re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ",Advertising & Marketing
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA",Advertising & Marketing
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY",Wholesale

# New Feature Creation
 * Objectives:
     - Split 'Location' column to 'State' and 'City' columns
     - Remove 'Location' column

In [510]:
df[["City", "State"]] = df["Location"].str.split(',',1, expand=True)
df.drop(columns = "Location")
df

C:\Users\laqui\AppData\Local\Temp\ipykernel_16960\2188024179.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["City", "State"]] = df["Location"].str.split(',',1, expand=True)

,Job Title,Salary Range,Job Description,Rating,Company Name,Location,Industry,City,State
index,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",Insurance Carriers,New York,NY
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",Research & Development,Chantilly,VA
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",Consulting,Boston,MA
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",Electrical & Electronic Manufacturing,Newton,MA
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",Advertising & Marketing,New York,NY
...,...,...,...,...,...,...,...,...,...
665,Data Scientist,105-167,Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc.","Vienna, VA",IT Services,Vienna,VA
666,Data Scientist,105-167,About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine,"Boston, MA",Biotech & Pharmaceuticals,Boston,MA
667,Data Scientist,105-167,Summary\n\nWeâ€™re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ",Advertising & Marketing,Fort Lee,NJ
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA",Advertising & Marketing,San Francisco,CA
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY",Wholesale,New York,NY

# Extracting Job Description Data
 - Split unnecessary values from descriptions
 - Create required skills columns
 - Drop 'Job Description' column from DF

In [511]:
df['Job Description'][0].split("\n\n")

['Description',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 'Duties & Responsibilities:',
 'â€¢ Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\nâ€¢ Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\nâ€¢ Works with multiple teams to support data collection, integration, and retention requirements based on business needs\nâ€¢ Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\nâ€¢ Collaborates with business subject matter experts to select relevant sources of information\nâ€¢ Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\nâ€¢ Develops expertise with Healthfirst datasets, data repositories, and data movement processes\nâ€¢ Assists on projects/requests and may lead specific tasks within the project scope\nâ€¢ Prepares and manipulates data for use in development of statistical models\nâ€¢ Other duties as assigned',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Masterâ€™s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Masterâ€™s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement',
 ']]>']

In [515]:
df['Python']=df['Job Description'].apply(lambda x: 1 if "python" in x.lower() else 0)
df['Excel']=df['Job Description'].apply(lambda x: 1 if "excel" in x.lower() else 0)
df['Sql']=df['Job Description'].apply(lambda x: 1 if "sql" in x.lower() else 0)
df['Tableau']=df['Job Description'].apply(lambda x: 1 if "tableau" in x.lower() else 0)
df['Sparx']=df['Job Description'].apply(lambda x: 1 if "Sparx" in x.lower() else 0)
df['Machine learning']=df['Job Description'].apply(lambda x: 1 if "mechine learing" in x.lower() else 0)
df['AWS']=df['Job Description'].apply(lambda x: 1 if "aws" in x.lower() else 0)

In [514]:
df.drop(columns = "Job Description")

,Job Title,Salary Range,Rating,Company Name,Location,Industry,City,State,python,excel,Sql,tableau,Sparx,machine learing,aws
index,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY",Insurance Carriers,New York,NY,0,0,0,0,0,0,1
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA",Research & Development,Chantilly,VA,0,0,1,0,0,0,0
2,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA",Consulting,Boston,MA,1,1,0,0,0,0,1
3,Data Scientist,137-171,3.5,INFICON,"Newton, MA",Electrical & Electronic Manufacturing,Newton,MA,1,1,1,0,0,0,1
4,Data Scientist,137-171,2.9,Affinity Solutions,"New York, NY",Advertising & Marketing,New York,NY,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,Data Scientist,105-167,3.8,"Criterion Systems, Inc.","Vienna, VA",IT Services,Vienna,VA,1,1,1,0,0,0,0
666,Data Scientist,105-167,4.0,Foundation Medicine,"Boston, MA",Biotech & Pharmaceuticals,Boston,MA,1,0,1,0,0,0,0
667,Data Scientist,105-167,3.6,TRANZACT,"Fort Lee, NJ",Advertising & Marketing,Fort Lee,NJ,1,1,1,1,0,0,0
670,Data Scientist,105-167,5.0,ChaTeck Incorporated,"San Francisco, CA",Advertising & Marketing,San Francisco,CA,1,0,1,0,0,0,0
671,Data Scientist,105-167,2.7,1-800-Flowers,"New York, NY",Wholesale,New York,NY,1,1,1,1,0,0,0